<div class = 'hero'>
	<img src="assets/oak8bit.jpg" class="img-responsive" alt="Responsive image">
	<br />
	<br />
	<br />
	<br />
	<br>
</div>
	<div class="herotext col-xs-10 col-xs-offset-1">
		<br />
		<h2> like shazam, but better <br> and for trees </h2>
		<br />
		<%= link_to 'Play Now', '#', class: 'btn-lg btn-success' %>
		<br />
		<br />
		<br />
		</div>
	<div class="featured-trees col-xs-10 col-xs-offset-1">
		<br />
		<div class ="slot1 col-xs-4">
			<h3>HERE IS A SLOT FOR A TREE</h3>
			<br>
			<%= link_to 'Name This Tree', '#', class: 'btn-lg btn-success' %>
		</div>
		<div class ="slot1 col-xs-4">
		<h3>HERE IS A SLOT FOR A TREE</h3>
		<br>
		<%= link_to 'Name This Tree', '#', class: 'btn-lg btn-success' %>
		</div>
		<div class ="slot1 col-xs-4">
		<h3>HERE IS A SLOT FOR A TREE</h3>
		<br>
		<%= link_to 'Name This Tree', '#', class: 'btn-lg btn-success' %>
		</div>
	</div>
