<br/>
<br/>
<br/>
	<div class="nice-box">
		<br/>
		<h1><%= @adventures.title %></h1>
		<%= image_tag @course.image, class: 'img-responsive' %>
		<br/>
		<h3><%= @adventures.description%></h3>
		<br/>
 		<h4><span class="label label-success"><%= number_to_human_size @adventures.points%></span></h4>
	<br/>
	</div>
</div>