<br/>
<br/>
<br/>
	<div class="nice-box">
		<br/>
		<h1><%= current_lesson.title %></h1>
		<br/>
		<h3><%= current_lesson.subtitle %></h3>
		<br/>
		<%= link_to 'Video', current_lesson.video.to_s %>
	</div>
<br/>