<br/>
<br/>
<br/>
<br/>
<div class="nice-box">
	<h1 class="text-center col-xs-6">Adventure Name:<b></h1>
	<h1 class="text-center col-xs-6"><%= @course.title %></h1></b>
	<h3 class="text-center col-xs-6">Points:<b></h3>
	<h3 class="text-center col-xs-6"><%= @course.points%></b></h3>
	<h3 class="text-center col-xs-6">What is it about?</h3>
	<h3 class="text-center col-xs-6"><b><%= @course.description%></b></h3>
</div>